@model RDV.Domain.Entities.Book
@using RDV.Web.Models.UI
@{
    ViewBag.Title = Model.Id <= 0 ? "Создание книги" : "Редактирование книги " + Model.Title;
}
<script src="/Content/ckeditor/ckeditor.js" type="text/javascript"></script>
<div id="page">
    <div class="page-header">
        <div class="page-title">
            @ViewBag.Title
        </div>
        @Html.Partial("NavigationChain")
    </div>
    <div class="page-content">
        <div class="page-administration-content">
            @* Разделы панели управления *@
            @Html.Partial("AdministrationTabs", new TabOptionsModel() { SelectedTab = "Content-tab" })
            @* Контейнер лейаута страницы *@
            <table class="action-table">
                <tbody>
                    <tr>
                        <td width="200px">
                            @* Меню действий *@
                            <div id="action-menu" style="width: 200px" cellspacing="0">
                                <div id="action-menu-header">
                                    Разделы
                                </div>
                                <ul id="action-menu-content">
                                    <li><a href="/administration/content/menu">Меню</a> </li>
                                    <li><a href="/administration/content/news">Публикации</a> </li>
                                    <li><a href="/administration/content/banners">Баннера</a> </li>
                                    <li><a href="/administration/content/partners">Партнеры</a> </li>
                                </ul>
                            </div>
                        </td>
                        <td width="100%">
                            @* Форма редактирования таблицы *@
                            <div class="page-form-container">
                                <form action="/administration/content/save-book" method="POST" id="edit-book-form" enctype="multipart/form-data">
                                    <input type="hidden" name="Id" value="@Model.Id" />
                                    <div class="editor-label">
                                        Заголовок
                                    </div>
                                    <div class="editor-field">
                                        <input type="text" class="round field" id="page-title-field" maxlength="255" name="Title" value="@Model.Title" placeholder="Введите заголовок книги"/>
                                    </div>
                                    <div class="editor-label">
                                        Автор
                                    </div>
                                    <div class="editor-field">
                                        <input type="text" class="round field" id="page-author-field" maxlength="255" name="Author" value="@Model.Author" placeholder="Введите автора книги"/>
                                    </div>
                                    <div class="editor-label">
                                        Издатель
                                    </div>
                                    <div class="editor-field">
                                        <input type="text" class="round field" id="page-publisher-field" maxlength="255" name="Publisher" value="@Model.Publisher" placeholder="Введите название издателя книги"/>
                                    </div>
                                    <div class="editor-label">
                                        Цена, руб.
                                    </div>
                                    <div class="editor-field">
                                        <input type="text" class="round field" id="page-price-field" maxlength="255" name="Price" value="@Model.Price.ToString("0.00")" placeholder="Введите стоимость книги"/>
                                    </div>
                                    <div class="editor-label">
                                        Файл обложки
                                    </div>
                                    <div class="editor-field">
                                        <input type="file" name="PictureFile"/>
                                    </div>
                                    <div class="editor-label">
                                        Аннотация книги
                                    </div>
                                    <div class="editor-field">
                                        <textarea class="ckeditor" id="page-content-field" name="Description" placeholder="Введите HTML содержимое страницы">@Model.Description</textarea>
                                    </div>
                                    <div id="submit-button-wrapper" onclick="$('#edit-book-form').submit();">
                                        <span id="submit-button"></span>
                                    </div>
                                </form>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="clear">
            </div>
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript">
    validators.bindEditBookFormValidators();
</script>
