@using RDV.Domain.Enums
@using RDV.Web.Classes.Caching
@using RDV.Web.Classes.Extensions
@model IList<RDV.Domain.Entities.ObjectHistoryItem>
@{
    ViewBag.Title = string.Format("Редактирование объекта №{0} - Изменение статусов", ViewBag.ObjectId);
}
<div id="page">
    <div class="page-header">
        <div class="page-title">
            @ViewBag.Title
        </div>
        @Html.Partial("NavigationChain")
    </div>
    <div class="page-content page-object">
        <div>
            @* Секции формы объекта *@
            @Html.Partial("ObjectFormSections")
            @* Контейнер лейаута страницы *@
            <table class="action-table">
                <tbody>
                    <tr>
                        <td width="200px">
                            @* Меню действий *@
                            <div id="action-menu" style="width: 200px" cellspacing="0">
                                <div id="action-menu-header">
                                    Изменение статусов
                                </div>
                                <ul id="action-menu-content">
                                    <li><a href="#" id="show-status-diagram-action">Изменения статусов</a></li>
                                </ul>
                            </div>
                        </td>
                        <td width="100%">
                            @* Рендерим саму форму *@
                            <div class="object-form-wrapper">
                                <input type="hidden" id="object-id-field" value="@ViewBag.ObjectId"/>
                                <table class="content-table">
                                    <thead>
                                        <tr>
                                            <th>
                                                Дата
                                            </th>
                                            <th>
                                                Статус
                                            </th>
                                            <th>
                                                Автор изменения
                                            </th>
                                            <th>
                                                Пояснение
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Count > 0)
                                        {
                                            foreach (var changement in Model)
                                            {
                                                <tr data-item-id="@changement.Id">
                                                    <td>@changement.DateCreated.FormatDateTime()
                                                    </td>
                                                    <td>
                                                        @if (changement.HistoryStatus == -1)
                                                        {
                                                            <text>Объект создан</text>
                                                        }
                                                        else
                                                        {
                                                            @(((EstateStatuses)changement.HistoryStatus).GetEnumMemberName())
                                                        }
                                                    </td>
                                                    <td>
                                                        @IdObjectsCache.GetUserName(changement.CreatedBy)
                                                    </td>
                                                    <td>
                                                        @if (changement.HistoryStatus == -1)
                                                        {
                                                            <text>Объект создан</text>
                                                        }
                                                        else
                                                        {
                                                            switch ((EstateStatuses)changement.HistoryStatus)
                                                            {
                                                                case EstateStatuses.Draft:
                                                                    <text>Объекту установлен статус черновик</text>
                                                                    break;
                                                                case EstateStatuses.Active:
                                                                    <text>Объекту установлен статус Активный</text>
                                                                    break;
                                                                case EstateStatuses.Advance:
                                                                    <text>Объекту установлен статус Аванс</text>
                                                                    break;
                                                                case EstateStatuses.TemporarilyWithdrawn:
                                                                    <text>Объекту установлен статус Временно снят с продажи</text>
                                                                    break;
                                                                case EstateStatuses.Withdrawn:
                                                                    <text>Объекту установлен статус Снят с продажи</text>
                                                                    break;
                                                                case EstateStatuses.Deal:
                                                                    <text>Объекту установлен статус Сделка</text>
                                                                    break;
                                                                default:
                                                                    throw new ArgumentOutOfRangeException();
                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="4">
                                                    <p align="center">
                                                        Нет информации об изменении статусов у этого объекта</p>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="clear">
            </div>
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript">
    
</script>
@Html.Partial("ObjectFormScripts")
