@model dynamic

<div class="block">
    <div class="block-header">
        <div class="block-icon">
            <img src="@Url.Content("/Content/images/mainpage/serviceicon.png")" alt="Icon"/>
        </div>
        <div class="block-title">
            Сервисы обслуживания
        </div>
        <div class="clear"></div>
    </div>
    <div class="block-content">
        <div class="block-inner-content">
            <div id="services-block">
                <div class="service">
                    <div class="service-image">
                        <img src="@Url.Content("/Content/images/mainpage/service-image.png")"/>
                    </div>
                    <div class="service-title">
                        <a href="#">
                            Экспресс-оценка недвижимости    
                        </a>
                    </div>
                    <div class="clear"></div>
                    <div class="service-separator"></div>
                </div>
                <div class="service">
                    <div class="service-image">
                        <img src="@Url.Content("/Content/images/mainpage/service-image.png")"/>
                    </div>
                    <div class="service-title">
                        <a href="#">
                            Экспресс-оценка недвижимости    
                        </a>
                    </div>
                    <div class="clear"></div>
                    <div class="service-separator"></div>
                </div>
                <div class="service">
                    <div class="service-image">
                        <img src="@Url.Content("/Content/images/mainpage/service-image.png")"/>
                    </div>
                    <div class="service-title">
                        <a href="#">
                            Экспресс-оценка недвижимости    
                        </a>
                    </div>
                    <div class="clear"></div>
                    <div class="service-separator"></div>
                </div>
                <div class="service">
                    <div class="service-image">
                        <img src="@Url.Content("/Content/images/mainpage/service-image.png")"/>
                    </div>
                    <div class="service-title">
                        <a href="#">
                            Экспресс-оценка недвижимости    
                        </a>
                    </div>
                    <div class="clear"></div>
                    <div class="service-separator"></div>
                </div>
                <div class="service">
                    <div class="service-image">
                        <img src="@Url.Content("/Content/images/mainpage/service-image.png")"/>
                    </div>
                    <div class="service-title">
                        <a href="#">
                            Экспресс-оценка недвижимости    
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>